.header-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  padding-top: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  z-index: 2;
}
.chat-body {
  padding: 0;
}
.chat-screen {
  margin-top: 100px;
}
.chat-body .header,
.chat-body .statusBar {
  padding: 0 20px;
}
.chat-screen {
  background-image: url(jpg/chat-bg.png);
  min-height: 100vh;
}
.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #f7f7f7;
  padding: 0px;
}
.chat__timestamp {
  background-color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 10px;
  margin: 30px 0px;
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.message {
  margin: 0px 20px;
  display: flex;
  align-items: flex-end;
  width: 50%;
}
.message__author {
  margin-top: 10px;
  display: block;
  font-size: 13px;
  font-weight: 700;
}
.incomming-message {
  align-self: flex-start;
  margin-bottom: 15px;
}
.sent-message {
  align-self: flex-end;
  margin-bottom: 25px;
}
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
.incomming-message img {
  width: 40px;
  border-radius: 20px;
  margin-right: 15px;
  animation: spin 1.5s linear infinite;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.message__bubble {
  background-color: rgb(243, 243, 243);
  padding: 5px 20px;
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.incomming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
}
.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #45b649, #dce35b);
}

.message__content {
  width: 80%;
}
.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;

  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.chat__icon-left {
  position: absolute;
  left: 10px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}
@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}
.chat__write {
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  margin: 0 auto;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  border-radius: 40px;
  animation: float 3s linear infinite forwards;
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
.chat__icon {
  transition: ease-in-out 0.3s all;
}
.chat__write-icon {
  display: flex;
  font-size: 18px;
}
.chat__write i {
  font-size: 20px;
}
.chat__write-column:nth-child(2) {
  width: 80%;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.incomming-message {
  animation: incomingAnim 0.5s ease-in forwards;
}
@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnim 0.5s ease-in forwards;
}
